.MainContainer {
  position:relative;
  width:1000px;
  min-height:150px;
  border: none;
  border-radius: 20px;
  background-color: #def;
  margin:auto;
  display:block;
}

canvas {
  position: absolute;
  left: 0; top:;
  border: none;
}

.resetButton {
  position: absolute;
  right:120px;
  top: 2px;
  color: #000aae;
  font-size: 14px;
  user-select: none;
}

.toggleZoom {
  position: absolute;
  right:25px;
  top: 2px;
  color: #000aae;
  font-size: 14px;
  user-select: none;
}
